click~=8.1
mammoth==1.5.0
PyYAML~=6.0
matatika~=1.15
pdf2docx~=0.5
ocrmypdf~=14.4

# sub-dependencies
pikepdf~=8.15

# lock to these specific version due to https://github.com/ArtifexSoftware/pdf2docx/issues/329
fonttools==4.55.0
PyMuPDF==1.24.14
